@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 530px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

.logo {
    display: block;
    font-size: 4em;
    color: white;
    padding-top: 31px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-shadow: black 7px 2px 8px;
}

.wrapper {
    position: relative;
    top: 10%;
    left: 34%;
    width: 460px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #132938;
    text-align: center;
}

.s h2 {
    margin: 0px 0px;
    padding: 23px 42px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box
}

/* The radio buttons code  */


.stud-btn {
    display: inline-flex;
    /* background: #fff; */
    height: 55px;
    width: 297px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    /* padding: 16px 6px; */
    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
    font-family: 'Lato', sans-serif;
}

.stud-btn .option {
    /* background: #fff; */
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 14px;
    /* border: 2px solid rgb(228, 223, 223); */
    transition: all 0.3s ease;
}

.stud-btn .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.stud-btn .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    /* background: #0069d9; */
    background: #8ea1af;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #162938;
    /* background: #162938; */
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.stud-btn .option span {
    font-size: 20px;
    /* color: #808080; */
    color: #162938;
    padding: 0px 8px;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #fff;
}

.fa-eye {
    cursor: pointer;
    position: fixed;
    top: 58%;
    left: 78%;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label {
    top: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #cec9c9;
    font-weight: 450;
    padding: 23px 54px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 6px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}


.remember-forgot a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 38%;
    height: 43px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 400;
    overflow: hidden;
}

.buttons span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 5px 0 10px;
}

.login-register p #res {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register p {
    margin-top: 16px;
}

.login-register p #res:hover {
    cursor: pointer;
    text-decoration: underline;
}

.stud-btn input {
    accent-color: #162938;
    margin: 0px 4px
}
